*::after::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  background-color: black;
  color:white;
}
header img{
  height: 10vmin;
  margin-top: 0;
  margin-left: -100px;
}
.App{
  max-width: 1300;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
}
.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  position: relative;
}
.cancel{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: white;
  font-weight: 600;
}
.reg-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 90px;
  position: relative;
  border: 1px solid #fd6a02;
  box-shadow:   0 0 15px rgba(0, 0, 0, 0.2);

}
input{
  width: 80%;
  height: 10px;
  padding: 20px;
  margin-bottom: 15px;
  margin-top: 7px;
  border-radius: 5px;
  /* border: none; */
  outline: none;
  background-color: rgb(77, 74, 74);
  color: rgb(201, 194, 194);
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn{
  width: 85% ;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px ;
  padding: 29px;
  border: transparent;
  outline: none;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:#fd6a02
}
.btn-reg{
  width: 80% ;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px ;
  padding: 25px;
  border: transparent;
  outline: none;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fd6a02;
  text-transform: uppercase;
}
/* .login{
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
} */
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  /* display: none; */
  /* width: 100%; */
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.text{
  position: absolute;
  top: 60%;
  left: 50%;
  color: grey;
  width: 90vw;
  height: 300px ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  z-index: 9;
  position: relative;
}
.signed,.danger{
  position: absolute;
  top: 60%;
  left: 50%;
  color: grey;
  width: 90vw;
  height: 300px ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  z-index: 9;
  position: relative;
}
.cancel-success{
  position:absolute;
  top: 10px;
  right:10px;
}
.cancel-signed{
  position:absolute;
  top: 10px;
  right:10px;
}
.unregistered,.already{
  background-color: white;
  color: green;
  padding:10px;
  font-size: 17px;
  display: none;
  font-weight: 500;
  text-align: center;
  position: relative;
}
.unregistered span,.already span{
      position: absolute;
      top: 30%;
      right: 20px;
      font-size: 18px;
}
.incorrect span{
  position: absolute;
  top: 30%;
  right: 20px;
  font-size: 18px;
}
.incorrect{
  background-color: white;
  color: red;
  padding:10px;
  font-size: 17px;
  display: none;
  font-weight: 500;
  text-align: center;
  position: relative;
}
.show{
  display: block;
}
.complete{
  font-size: 20px;
}
.complete span{
  color: green;
  padding-left: 30px;
  font-size: 25px;
}

@media screen and (min-width:600px) {
     .App,.container{
       max-width: 800px;
     }
}